<h1>Messaging</h1>

<div class="container">
   <h2>(1)ユーザーを選択してメッセージを開始</h2>
   <div class="stylish-input-group">
      <input type="text" class="search-bar" placeholder="Search">
      <span class="input-group-addon">
         <button type="button"> <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg><!-- <i class="fa fa-search" aria-hidden="true"></i> --> </button>
      </span>
   </div>
   
   <h2>(2)過去のトークを選択からメッセージを選択</h2>
   <div class="messaging">
      <div class="headind_srch">
         <div class="recent_heading">
            <h4>メッセージ履歴</h4>
         </div>
         <div class="srch_bar">
            <div class="stylish-input-group">
               <input type="text" class="search-bar" placeholder="Search">
               <span class="input-group-addon">
               <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
               </span> </div>
         </div>
         </div>
         <div class="inbox_chat">
         <div class="chat_list active_chat">
            <div class="chat_people">
               <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
               <div class="chat_ib">
               <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
               <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
               </div>
            </div>
         </div>
         <div class="chat_list">
            <div class="chat_people">
               <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
               <div class="chat_ib">
               <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
               <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
               </div>
            </div>
         </div>
         <div class="chat_list">
            <div class="chat_people">
               <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
               <div class="chat_ib">
               <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
               <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
               </div>
            </div>
         </div>
         <div class="chat_list">
            <div class="chat_people">
               <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
               <div class="chat_ib">
               <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
               <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
               </div>
            </div>
         </div>
         <div class="chat_list">
            <div class="chat_people">
               <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
               <div class="chat_ib">
               <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
               <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
               </div>
            </div>
         </div>
         <div class="chat_list">
            <div class="chat_people">
               <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
               <div class="chat_ib">
               <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
               <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
               </div>
            </div>
         </div>
         <div class="chat_list">
            <div class="chat_people">
               <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
               <div class="chat_ib">
               <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
               <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
