<div class='cancellation-confirmation'>
  <h2>退会ページ</h2>
  <br>
  ほんまにやめるん？<br>
  僕、痩せてモテるようになったで。<br><br>
  <div>
    <%= link_to '退会してポテチを貪ります', user_registration_path, method: :delete, class: "btn btn-danger mbtn-md waves-effect waves-light, wide-button", role: "button", target: "_blank"%>
  </div>
  <br>
  <div>
    <%= link_to 'もうちょっと頑張ります', root_path, class: "btn btn-secondary mbtn-md waves-effect waves-light wide-button", role: "button", target: "_blank"%>
  </div>
</div>
