<div class='nested-fields'>
  <%= f.text_field :name, placeholder: '品目' %>
  <%= f.text_field :amount , placeholder: '分量'%>
  <%= f.number_field :calory, placeholder: 'カロリー' %>
  <%= link_to_remove_association 'この品目を削除', f %>
</div>
