<div class="card">
  <div class="card-header">
    <%= link_to meal_post.user.name, user_path(meal_post.user) %>
  </div>
    <p><%= link_to meal_post.content, meal_post_path(meal_post)%></p>
    <p class="small"><%= meal_post.time %></p>
</div>