<h2>このMealPostの詳細</h2>

<%= render partial: 'meal_post', locals: {meal_post: @meal_post} %>
<br>
<br>


<div class="row">
  <div class="col-6">
    <h4>
      総カロリー
    </h4>
    <h1>
      <%= total_calories_of(@meal_post) %>
    <h1>
  </div>

  <div class="col-6">
    <%= render partial: 'meal_posts/new', locals: {new_meal_post: @meal_post} %>
  </div>




</div>
