@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import './devise/signup.scss';
@import './users/destroy_confirmation.scss';
@import './meal_posts/_food_item_fields.scss';
@import './conversations/chat_box.css';

.upvote,
.downvote {
  &.active {
    color: #ff0000;
  }

  // TODO: 自分のmealpostでhoverしている時はpointer表示しない
  &:hover {
    color: #ff0000;
    cursor: pointer;
  }
}
